@charset "utf-8";
/*@清除和设置默认样式；通用*/

*{
	padding:0px;
	margin: 0px;
	box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dt,tt,form,table,hr,form,input,textarea,th,td,select,figure,figcaption{
	padding: 0px;
	margin: 0px;
}
article,aside,canvas,details,footer,header,hgroup,menu,nav,section,summary{
	display:block;
	}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:black;
}
em{
	font-style: normal;
}

/*专门用来清除浮动*/
/*添加一个公共类，专门用来清除浮动。在页面上，只要需要清除浮动的父元素都加上这个类，那么都可以清除浮动。不用多次写重复的代码。*/

.clearfix::after{
	content: "";
	display: block;
	height: 0px;
	overflow: hidden;
	visibility:hidden;
	clear:both;
	zoom:1;
}
img{
	display: block;
	border: 0 none;
	vertical-align: baseline;
}
table{
	border-collapse: collapse;
	}
.container{
	margin: 0 auto;
}
textarea{
	resize: none;
	overflow: hidden;
}

input{
	outline: none;
}





